.note{
    box-sizing: border-box;
    width:70px;
    height:100px;
    text-align: center;
    border: 5px solid black;
    position:relative;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
.note h1{
    font-size:80px;
}
.note .abs{
    width:65px;
    height:5px;
    position:absolute;
    top:45px;
    background: black;
}